/.idea/DevVPSAdminPanel.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.env
/be_files/
/instance/db.sqlite
/.idea/dataSources.xml
/.idea/vcs.xml
