{% extends "base.html" %}

{% block content %}
    <style>
        table th {
            background-color: var(--md-sys-color-secondary-container);
            color: var(--md-sys-color-on-secondary-container);
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
        }

        .logs {
            overflow-x: auto;
        }

        .banner-preview {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 4px;
        }

        .daily-banner:nth-child(1) {
            height: 100%;
        }

        .daily-banner:nth-child(2) {
            height: 66%;
        }

        .daily-banner:nth-child(3) {
            height: 33%;
        }

        .banner-card, .stats-card {
            flex: 1;
            min-width: 0;
        }

        .image-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 70%;
            flex: 1;
        }

        .daily-banner {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .daily-banner img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
            border-radius: 8px;
        }

        .card {
            background-color: var(--md-sys-color-surface);
            border-radius: 16px;
            padding: 16px;
            flex: 1;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }

        {#new content#}

        .root-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 1400px;
            margin: 0 auto;
            padding: 16px;
        }

        .dashboard-container {
            display: flex;
            gap: 16px;
            justify-content: space-between;
        }

        .actions-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 16px;
        }

        .mdc-button {
            width: 100%;
            height: 40px;
            border-radius: 20px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mdc-button__label {
            color: inherit;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .mdc-button--raised {
            background-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);
        }

        @media (max-width: 700px) {
            .dashboard-container {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .image-container {
                height: 200px;
            }
        }
    </style>

    <div class="root-container">

        <div class="dashboard-container">
            <div class="card">
                <div class="actions-grid">
                    {% for button in buttons %}
                        <a href="{{ button.url }}" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
                            <span class="mdc-button__label">{{ button.label }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="dashboard-container">
            <div class="card banner-card">
                <h2>Daily banners</h2>
                <div class="image-container">
                    <div class="daily-banner" onclick="copyBannerId()">
                        <img src="{{ daily_banner_url }}" alt="{{ daily_banner_id }}"/>
                    </div>
                    <div class="daily-banner" onclick="copyBannerId()">
                        <img src="{{ daily_banner_url }}" alt="{{ daily_banner_id }}"/>
                    </div>
                    <div class="daily-banner" onclick="copyBannerId()">
                        <img src="{{ daily_banner_url }}" alt="{{ daily_banner_id }}"/>
                    </div>
                </div>
            </div>
            <div class="card stats-card">
                <h2>Statistics</h2>
                <p>Admins Count: {{ admins_count }}</p>
                <p>Total banners: <b>{{ total_banners }}</b><br/>Last mapping: <b>{{ last_mapping_time }}</b></p>
            </div>
        </div>

        <div class="dashboard-container">
            <div class="card logs">
                <h2>Last Admin Actions Log</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Admin</th>
                        <th>Action</th>
                        <th>Banner</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for banner in admin_logs %}
                        <tr>
                            <td>{{ banner.admin }}</td>
                            <td>{{ banner.translated_action }}</td>
                            <td>
                                {% if banner.image_url %}
                                    <img src="{{ banner.image_url }}" alt="Banner Preview" class="banner-preview">
                                {% else %}
                                    No preview available
                                {% endif %}
                            </td>
                            <td>{{ banner.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function copyBannerId() {
            var bannerId = "{{ daily_banner_id }}";
            alert('Banner ID copied to clipboard');
            navigator.clipboard.writeText(bannerId).then(function () {
                var copyMessage = document.getElementById('copyMessage');
                copyMessage.style.display = 'block';
                setTimeout(function () {
                    copyMessage.style.display = 'none';
                }, 2000);
            }).catch(function (err) {
                console.error('Failed to copy: ', err);
            });
        }
    </script>
{% endblock %}