{% extends "base.html" %}


{% block content %}

    <style>
        .actions-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 16px;
        }

    </style>

    <h1 class="title">
        Welcome, {{ name }}!
    </h1>

    <div class="dashboard-container">
        <div class="card">
            <div class="actions-grid">
                {% if is_banner_admin %}

                    <a href="{{ url_for('dashboard_blueprint.banners_dashboard') }}"
                       class="mdc-button mdc-button--raised"
                       data-mdc-auto-init="MDCRipple">
                        <span class="mdc-button__label">Banners Dashboard</span>
                    </a>
                {% endif %}

                <a href="{{ url_for('tools_blueprint.tools') }}" class="mdc-button mdc-button--raised"
                   data-mdc-auto-init="MDCRipple">
                    <span class="mdc-button__label">Tools</span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}