.mdc-button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdc-button__label {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.mdc-button--raised {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}